
.body
{
    margin: 0;
    padding:0;
  height:100vh;
    width: 100vw;
}
.heading
{
    width:100vw; /*viewport width*/
    height:10%;
    background-color:yellowgreen;
    color:white;
    font-size: 40px;
    text-align:center;
    margin:0;
    font-family: Lucida Console, Courier New, monospace;
    padding-top:8px;/*to generate space around an element's content*/
}
.container
{
    margin: 20px;
    width: 90vw;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    height: 70%;
}
.hide
{
    display: none;
}
.ques
{
    font-size: 25px;
    width:100%;
    border-radius: 10px;
    padding: 15px;
}
.ansDiv
{
    width:100%;
    background-color: yellowgreen;
    padding: 15px;
    border-radius: 10px;

}
.ans
{
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}
.btn
{
    background-color: orangered;
    color:black;
    padding: 5px 10px;
    border-radius: 5px;
    outline:none;
    height: 80px;
}
.btn:hover
{
    border-color:black;
}
.correct-btn
{
    background-color: orangered;
    font-size:20px;
    font-weight: bold;
    height: 30px;
    width: 120px;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    color: white;
    display:none;
}
.start-btn
{
    height: 70px;
    width: 200px;
    margin: 20%;
    margin-left: 47%;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-color: orangered;
}
.submit-btn
{
    height: 50px;
    width: 150px;
    background-color: orangered;
    border-color: orangered;
    border-radius: 5px;
    color: black;
    margin-top:40px;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}
.next-btn
{
    height: 50px;
    width: 150px;
    background-color: orangered;
    border-color: orangered;
    border-radius: 5px;
    color: black;
    margin-top:40px;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}
.result
{
    background-color: black;
    color:white;
    border-radius: 5px;
    border: 2px solid yellowgreen;
    width: 90vw;
    font-size:20px;
    margin-top: -33%;
}
.restart
{
    background-color: orangered;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    height: 50px;
    width: 200px;
    display: none;
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
}
@media all and (max-width:700px) {
    .result {
        margin-top: -65%;
    }
}
